.Main-container {
  margin: 2rem auto;
  padding: 1rem 3rem;
  max-width: 80rem;
}

.Main-titleRow {
  display: flex;
  justify-content: space-between;
}

.Main-titleRow h1 {
  font-weight: 300;
  font-size: 3.6rem;
  color: #666;
}
