.ErrorTable tr {
  cursor: pointer;
}

.ErrorTable > table > tbody > tr.highlighted {
  background: #666;
  color: white;
}

.ErrorTable h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  color: #999;
  margin-top: 0;
}
